@import "variables";
@import "mixin";

/**
* Google Fonts
**/
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap');

/**
** include other fonts
*/
@font-face {
  font-family: Publica;
  src: url("fonts/PublicaSlab-Medium.otf") format("opentype");
}

@font-face {
  font-family: Publica-light;
  src: url("fonts/PublicaSlab-Thin.otf") format("opentype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $text-default-color;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Mina', sans-serif;
  color: $text-color-second;
}
p, a, span, input, textarea{
  font-family: 'Varela Round', sans-serif;
}
a {
  color: $text-color-second !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
p {
  line-height: 2rem;
}
/**
** Global veriable
 */
.pt-6{
  padding-top: 6rem!important;
}
.pb-6{
  padding-bottom: 6rem!important;
}


/**
* Navbar Style
**/
.navbar{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/**
* Contact section style
**/
#contact {

  @include breakpoint(desktop){
    //padding-top: 100px;
    .bilgiler{
      padding-left: 40px;
    }
  }
  .card{
    @include breakpoint(mobileonly){
      margin-top: 40px !important;
    }
  }
  @include breakpoint(phablet){
    margin-top: 100px;
  }


}


/**
** Form Style
 */
form.contact {
    input.input, select.input {
      width: 100%;
      height: 67px;
      padding: 10px 15px 10px 20px;
      border: 1px solid #F3F5FD;
      background-color: #F3F5FD;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    textarea {
      background-color: #F3F5FD;
      padding: 12px 15px 12px 20px;
      border: 1px solid #F3F5FD;
    }
  }

/**
** Slider Style
 */
.slides{
  height: calc(100vh - 74px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100% !important;

  @include breakpoint(mobileonly){
    height: calc(100vh - 90px);
  }
  
  .swiper-container{
    height: 100%;
    width: 100%;
  }
  img{
    width: 100%;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    background-color:#ececec93;
    width: 100%;
    padding:40px 30px;
    margin-left: 10px;
    margin-right: 10px;

    @include breakpoint(desktop) {
      width: 40%;
      background-color:#ececec93;
      height: auto;
      margin-left: 40px;
    }

    h2{
      color: rgb(240, 128, 0);
      width: 100%;
      font-family: Publica;
      font-size: 2.2rem;
      font-weight: 400 !important;
      text-shadow: 1px 1px 0 #464646;
      @include breakpoint(desktop) {
        width: auto;
        font-size: 3.2rem;
      }
    }

    span{
      width: 100%;
      border-bottom: 3px solid rgb(240, 128, 0);
      @include breakpoint(desktop) {
        width: 70%;
      }
    }
    small{
      font-size: .8rem;
      font-family: Publica-light;
      font-size: 1rem;
      padding-top: 15px;
      @include breakpoint(desktop) {
        font-size: 1rem;
      }
    }
    p{
      font-family: Publica-light;
      font-size: 1.2rem;
      //text-shadow: 1px 1px 0 #464646;
      @include breakpoint(desktop) {
        font-size: 1.6rem;
      }
    }
  }

}

.slide1{
  background: url('/images/slider_1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.slide2{
  background: url('/images/slider_2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.slide3{
  background: url('/images/slider_3.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.slide4{
  background: url('/images/slider_4.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.slide5{
  background: url('/images/slider_5.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@include breakpoint(mobileonly){
  .slide1{
    background-image: url('/images/mobil/mobil_slider1.png');
    background-size: 100% 100%;
  }
  .slide2{
    background-image: url('/images/mobil/mobil_slider2.png');
    background-size: 100% 100%;
  }
  .slide3{
    background-image: url('/images/mobil/mobil_slider3.png');
    background-size: 100% 100%;
  }
  .slide4{
    background-image: url('/images/mobil/mobil_slider4.png');
    background-size: 100% 100%;
  }
  .slide5{
    background-image: url('/images/mobil/mobil_slider5.png');
    background-size: 100% 100%;
  }
}

.swiper-pagination-bullet{
  background: #fff !important;
}
.short-detay .card-img-top {
  padding-top: 10px;
}
.swiper-slide {
  .card{
    border: none;
    align-items: center;
  }
}
.accordion{
  .card {
    border: none;
    border-radius: 0;
    background: transparent;

    .card-header{
      border: none;
      background: transparent;
      padding-top: .50rem;
      padding-bottom: .50rem;

      b{
        color: $text-color-second;
      }
      .btn{
        text-align: left !important;
      }
    }

    .card-body{
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      padding-left: 2rem;
    }
  }
}

.tarla{

  .tarlasulama {
    background: url('/images/tarimsal-sulama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;

    @include breakpoint(desktop){
      height:calc(100vh - 100px);
    }
    .ucgen{
      padding-left: 20px;
      padding-right: 20px;
      @include breakpoint(desktop){
        position: absolute;
        right: 0;
        width: 0;
        height: 100%;
        border-right: 80px solid white;
        border-left: 60px solid transparent;
        border-top: 570px solid transparent;
      }
    }
  }

  .aciklama{

    h2{
      padding-top: 20px;
    }

    @include breakpoint(desktop){

      padding-left: 40px;

      h2{
        padding-top: 0;
      }
    }
  }
}
.yayla{
  .yaylaevi{
    background: url('/images/solar-panels-on-the-roof-of-the-house-alternative-system-house-renewable-panel-tech-green-roof-cell_t20_Ky6zp3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;

    @include breakpoint(desktop){
      height:calc(100vh - 100px);
    }
  }

  .aciklama{
    h2{
      padding-top: 20px;
    }
    @include breakpoint(desktop){
      padding-left: 40px;
      h2{
        padding-top: 0;
      }
    }
  }

}

/**
** Footer Style
*/

footer{

  .list-group-item{
    padding-left: .5rem;
  }

  @include breakpoint(mobileonly){
    .foot-p{
      padding-bottom: 50px;
    }
  }
  @include breakpoint(phablet){
    .foot-p{
      padding-bottom: 50px;
    }
  }

  .baglanti{

    svg{
      fill: #484848;
      width: 40px;
    }

    .whatsapp svg:hover{
      fill: #3fe675;
    }
    .instagram svg:hover{
      fill: white;
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }
    .facebook svg:hover{
      fill:#138bf1;
    }
  }
}

/**
** Why Solar Energy Style
*/

.whysolarenergy{
  padding-top: 0;

  @include breakpoint(desktop){
    padding-top: 80px;
  }
}

.page-head {
  width: 100vw;
  height: 350px;
  background-image: url('/images/slider5.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.iletisimegec{
  height: auto;
  background-color: #ff8f04;

  h2{
    color: #fff;
  }
}
