@import "variables";
@import "mixin";

/**
* Google Fonts
**/
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $text-default-color;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Mina', sans-serif;
  color: $text-color-second;
}
p, a, span, input, textarea{
  font-family: 'Varela Round', sans-serif;
}
a {
  color: $text-color-second !important;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/**
** Global veriable
 */
.pt-6{
  padding-top: 6rem!important;
}
.pb-6{
  padding-bottom: 6rem!important;
}


/**
* Navbar Style
**/
.navbar{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/**
* Contact section style
**/

.section{
  padding-top: 100px;
  padding-bottom: 100px;
}

/**
** Form Style
 */
form.contact {
    input.input, select.input {
      width: 100%;
      height: 67px;
      padding: 10px 15px 10px 20px;
      border: 1px solid #F3F5FD;
      background-color: #F3F5FD;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    textarea {
      background-color: #F3F5FD;
      padding: 12px 15px 12px 20px;
      border: 1px solid #F3F5FD;
    }
  }

/**
** Slider Style
 */
.slides{
  height: calc(100vh - 114px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(mobileonly){
    height: calc(100vh - 74px);
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    width: 70vw;
    height: 50vh;
    background-color: #55606585;
    padding: 30px;

    h2{
      color: white;
    }
  }

}

.slide1{
  background: url('/images/green-living_t20_RwWnra.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide2{
  background: url('/images/solar-cell-panel-for-supply-energy-to-agriculture-farm-or-green-house-plantation-solar-energy-solar_t20_jLPm6k.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide3{
  background: url('/images/solar-panels-on-the-roof-of-the-house-alternative-system-house-renewable-panel-tech-green-roof-cell_t20_Ky6zp3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide4{
  background: url('/images/tarimsal-sulama.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-pagination-bullet{
  background: #fff !important;
}
.short-detay .card-img-top {
  padding-top: 10px;
}
.swiper-slide {
  .card{
    border: none;
    align-items: center;
  }
}
.accordion{
  .card {
    border: none;
    border-radius: 0;
    background: transparent;

    .card-header{
      border: none;
      background: transparent;
      padding-top: .50rem;
      padding-bottom: .50rem;

      b{
        color: $text-color-second;
      }
      .btn{
        text-align: left !important;
      }
    }

    .card-body{
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      padding-left: 2rem;
    }
  }
}

.tarla{

  .tarlasulama {
    background: url('/images/tarimsal-sulama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;

    @include breakpoint(desktop){
      height:calc(100vh - 100px);
    }
    .ucgen{
      padding-left: 20px;
      padding-right: 20px;
      @include breakpoint(desktop){
        position: absolute;
        right: 0;
        width: 0;
        height: 100%;
        border-right: 80px solid white;
        border-left: 60px solid transparent;
        border-top: 570px solid transparent;
      }
    }
  }

  .aciklama{
    h2{
      padding-top: 20px;
    }
    @include breakpoint(desktop){
      h2{
        padding-top: 0;
      }
    }
  }
}
.yayla{
  .yaylaevi{
    background: url('/images/solar-panels-on-the-roof-of-the-house-alternative-system-house-renewable-panel-tech-green-roof-cell_t20_Ky6zp3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;

    @include breakpoint(desktop){
      height:calc(100vh - 100px);
    }
  }
}

